<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="favicon.ico" type="image/x-icon"/>
    <title>搬运组扒源工具</title>
    <!-- 引入样式 -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <style type="text/css">
        .custom-table-expand {
            font-size: 0;
        }

        .custom-table-expand label {
            width: 80px;
            color: #99a9bf;
        }

        .custom-table-expand .el-form-item {
            margin-right: 0;
            margin-bottom: 0;
            width: 50%;
        }

        .div_text_ellipsis {
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
            width: 350px;
        }
    </style>
</head>

<body>
<div class="container" style="width: 80%;margin: 0 auto" role="main" id="mainpage">
    <el-card class="box-card">
        <div class="item">
            <i class="el-icon-s-home" style="margin-right: 1%;">搬运组扒源工具</i>
            <el-link :underline="false" icon="el-icon-film" href="http://www.mrdvh.info" target="_blank">视频源网站
            </el-link>
        </div>
    </el-card>
    <el-card class="box-card" style="margin-top: 1%">
        <div slot="header" class="clearfix">
            <span>扒源</span>
        </div>
        <div class="item">
            <el-row>
                <el-col :span="24">
                    <el-input type="text" placeholder="视频链接" aria-label="请输入视频链接"
                              aria-describedby="button-addon2"
                              v-model="url"></el-input>
                </el-col>
            </el-row>
            <el-row style="margin-top: 1%">
                <el-col :span="11" style="margin-right: 2%">
                    <el-cascader style="width:100%"
                                 v-model="selectedOptions"
                                 placeholder="请选择文件夹"
                                 :options="cascaderData"
                                 :change-on-select="true"
                                 @active-item-change="handleItemChange"
                                 filterable
                                 :props="{value: 'name',label: 'name',children: 'children'}">
                    </el-cascader>
                </el-col>
                <el-col :span="12" style="margin-left: 2%">
                    <el-input id="videoName" placeholder="保存的文件名" type="text"
                              aria-label="请输入保存的文件名"
                              v-model="videoName" style="width: 100%">
                    </el-input>
                </el-col>
            </el-row>
            <el-row style="margin-top: 1%">
                <el-col :span="24">
                    <el-button type="primary" icon="el-icon-download" @click="addURL" :disabled="adding"
                               :loading="adding">开始扒源
                    </el-button>
                </el-col>
            </el-row>
        </div>
    </el-card>

    <el-card class="box-card" style="margin-top: 1%">
        <div slot="header" class="clearfix">
            <span>扒封面图</span>
        </div>
        <div class="item">
            <p>获取封面图功能只支持油管，有其他的网站需要请私聊我</p>
            <p>使用方法：<br/>1：填写油管视频的链接<br/>2：点击下面的俩按钮<br/><b style="font-size: 16px">如果高清版封面没有图片，请点击低清版。</b></p>
            <el-button type="primary" icon="el-icon-download" @click="getMaxCover">获取高清版封面图</el-button>
            <el-button type="primary" icon="el-icon-download" @click="getHqCover">获取低清版封面图</el-button>
        </div>
    </el-card>

    <el-card class="box-card" style="margin-top: 1%;margin-bottom: 1%" id="mainQueue">
        <div slot="header" class="clearfix">
            <span class="demonstration" style="line-height: 40px">扒源任务列表</span>
            <el-button type="primary" style="float: right;" icon="el-icon-delete"
                       :loading="clearing" :disabled="clearing" @click="clearCompleted">清空已完成
            </el-button>
        </div>
        <div class="item">
            <el-table :data="downloadQueueData" default-expand-all height="400" style="width: 100%">
                <el-table-column type="expand">
                    <template slot-scope="scope">
                        <el-form label-position="left" inline class="custom-table-expand">
                            <el-form-item label="文件名称">
                                <div class="div_text_ellipsis">
                                    [[scope.row.filename]]
                                </div>
                            </el-form-item>
                            <el-form-item label="进度">
                                <el-progress style='width:350px;line-height: 40px' :text-inside="true"
                                             :stroke-width="18"
                                             :percentage="formatProgress(scope.row.percent)"></el-progress>
                            </el-form-item>
                            <el-form-item label="错误信息" v-if="scope.row.status == 'error'">
                                <span>[[scope.row.error]]</span>
                            </el-form-item>
                        </el-form>
                    </template>
                </el-table-column>
                <el-table-column type="index" :index="indexMethod">
                </el-table-column>
                <el-table-column label="视频链接" prop="url">
                </el-table-column>
                <el-table-column label="总大小" prop="tbytes" width="120">
                </el-table-column>
                <el-table-column label="下载速度" prop="speed" width="120">
                </el-table-column>
                <el-table-column label="剩余时间" prop="eta" width="120">
                </el-table-column>
                <el-table-column label="任务状态" width="120">
                    <template slot-scope="scope">
                        <div class="cell" v-if="scope.row.status == 'error'">下载失败</div>
                        <div class="cell" v-else-if="scope.row.status == 'completed'">已完成</div>
                        <div class="cell" v-else-if="scope.row.status == 'queued'">数据查询中</div>
                        <div class="cell" v-else-if="scope.row.status == 'finished'">转码中</div>
                        <div class="cell" v-else-if="scope.row.status == 'downloading'">下载中</div>
                    </template>
                </el-table-column>
                <el-table-column label="操作" width="240">
                    <template slot-scope="scope">
                        <el-button v-if="scope.row.status == 'error'" size="mini"
                                   icon="el-icon-refresh-right" :loading="retrying" :disabled="retrying"
                                   @click="rerunQueue(scope.row.id)">重试
                        </el-button>
                        <el-button v-if="scope.row.status == 'error'" size="mini" type="danger"
                                   icon="el-icon-delete" :loading="removing" :disabled="removing"
                                   @click="deleteQueue(scope.row.id)">删除
                        </el-button>
                        <el-button v-else-if="scope.row.status == 'completed'" size="mini" type="danger"
                                   icon="el-icon-delete" :loading="removing" :disabled="removing"
                                   @click="deleteQueue(scope.row.id)">删除
                        </el-button>
                        <el-button v-else-if="scope.row.status == 'queued'" size="mini" type="danger"
                                   icon="el-icon-delete" :loading="removing" :disabled="removing"
                                   @click="deleteQueue(scope.row.id)">删除
                        </el-button>
                    </template>
                </el-table-column>
            </el-table>
        </div>
    </el-card>
</div>

<script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
<!-- 引入组件库 -->
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script type="text/javascript">
    var vm = new Vue({
        el: '#mainpage',
        data: {
            adding: false,
            removing: false,
            retrying: false,
            clearing: false,
            url: "",
            videoPath: "",
            videoName: "",
            cascaderData: [],
            selectedOptions: [],
            downloadQueueData: [],
            success: 'success',
            warning: 'warning',
            info: 'info',
            error: 'error'
        },
        methods: {
            refresh: function (event) {
                axios.get("/downloadQueue")
                    .then(function (response) {
                        vm.downloadQueueData = response.data;
                        setTimeout(function () {
                            vm.refresh();
                        }, 1000);
                    })
                    .catch(function (error) {
                        setTimeout(function () {
                            vm.refresh();
                        }, 1000);
                    });
            },
            clearCompleted: function (event) {
                vm.clearing = true;
                axios.get("/removeFinished")
                    .then(function (response) {
                        if (response.data['state'] == "OK") {
                            vm.showNotify('成功', '已清空所有已完成的任务', vm.success);
                            vm.refresh()
                        }
                        vm.clearing = false;
                    })
                    .catch(function (error) {
                        vm.showNotify('失败', '请求错误，请重试', vm.error);
                        vm.clearing = false;
                    });
            },
            addURL: function (event) {
                vm.adding = true;
                if (vm.url == null || vm.url == "") {
                    vm.showNotify('失败', '视频链接不能为空', vm.error);
                    vm.adding = true;
                    return;
                }
                vm.videoPath = '/video/';
                for (item in vm.selectedOptions) {
                    vm.videoPath += vm.selectedOptions[item] + "/";
                }
                let data = new FormData();
                data.append('url', vm.url);
                data.append('videoPath', vm.videoPath);
                data.append('videoName', vm.videoName);
                axios.post("/addToQueue", data)
                    .then(function (response) {
                        if (response.data['state'] == "OK") {
                            vm.showNotify('成功', '扒源任务添加成功', vm.success);
                        }
                        vm.adding = false;
                    })
                    .catch(function (error) {
                        vm.showNotify('失败', '请求错误，请重试', vm.error);
                        vm.adding = false;
                    });
                vm.videoPath = "";
                vm.videoName = "";
            },
            deleteQueue: function (id) {
                vm.removing = true;
                axios.get("/remove?id=" + id)
                    .then(function (response) {
                        if (response.data['state'] == "OK") {
                            vm.showNotify('成功', '已删除扒源任务', vm.success);
                            vm.refresh()
                        }
                        vm.removing = false;
                    })
                    .catch(function (error) {
                        vm.showNotify('失败', '请求错误，请重试', vm.error);
                        vm.removing = false;
                    });
            },
            rerunQueue: function (id) {
                vm.retrying = true;
                axios.get("/retry?id=" + id)
                    .then(function (response) {
                        if (response.data['state'] == "OK") {
                            vm.showNotify('成功', '任务已开始重试', vm.success);
                            vm.refresh()
                        }
                        vm.retrying = false;
                    })
                    .catch(function (error) {
                        vm.showNotify('失败', '请求错误，请重试', vm.error);
                        vm.retrying = false;
                    });
            },
            formatProgress: function (percent) {
                return Math.floor(percent)
            },
            getFolder: function (folderName) {
                let data = new FormData();
                data.append('folderName', folderName);
                axios.post("/getFolder", data)
                    .then(function (response) {
                        vm.cascaderData = response.data;
                    })
                    .catch(function (error) {
                        console.debug(error);
                        vm.showNotify('失败', '请求错误，请重试', vm.error);
                    });
            },
            handleItemChange(value) {
            }, indexMethod(index) {
                return index + 1;
            }, showNotify(title, message, type) {
                this.$notify({
                    title: title,
                    message: message,
                    type: type
                });
            }, getMaxCover() {
                let url = vm.url;
                if (url.indexOf('youtube') != -1 || url.indexOf('youtu.be') != -1) {
                    if (url.endsWith('/')) {
                        url = url.substring(0, url.length)
                    }
                    url = url.substring(url.lastIndexOf("/") + 1).replace("watch?v=", "").replace('&feature=youtu.be', '');
                    window.open("https://res.mrdvh.info/vi/" + url + "/maxresdefault.jpg");
                } else {
                    vm.showNotify('失败', '视频链接有误，请检查后重试', vm.error);
                }
            }, getHqCover() {
                let url = vm.url;
                if (url.indexOf('youtube') != -1 || url.indexOf('youtu.be') != -1) {
                    if (url.endsWith('/')) {
                        url = url.substring(0, url.length)
                    }
                    url = url.substring(url.lastIndexOf("/") + 1).replace("watch?v=", "").replace('&feature=youtu.be', '');
                    window.open("https://res.mrdvh.info/vi/" + url + "/hqdefault.jpg");
                } else {
                    vm.showNotify('失败', '视频链接有误，请检查后重试', vm.error);
                }
            }
        },
        delimiters: ['[[', ']]'],
        mounted: function () {
            this.getFolder("/video/");
            this.refresh();
        },
        computed: {}
    });
</script>
</body>
</html>